@model TheDmScreen.Models.EncounterFeedModel

<form class="panel">
    <div class="row">
        <div class="large-12 columns">
            <h3>@Model.TurnOrder.First().Name's Turn</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>
                Turn Action
                <textarea placeholder="What happened in this turn?"></textarea>
                <div id="DmCommit" class="button">Commit Turn</div>
            </label>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#DmCommit").click(function() {
            alert("bam");
        });
    });
</script>