@model TheDmScreen.Models.Encounter

<form class="panel">
    <div class="row">
        <h3>@Model.Initiatives.OrderBy(m => m.TurnOrder).First().Character.Name's Turn</h3>
        <br/>
    </div>
    <div class="row">
        <h5>Action Description</h5>
        <div class="large-10 columns">
            <textarea onkeyup="auto_grow(this)" id="description" placeholder="What happened in this turn?"></textarea>
        </div>
        <div class="large-2 columns">
            <div id="DmCreate" class="button">Commit</div>
        </div>
    </div>
</form>

<style>
    textarea{
        resize:none;
        overflow:hidden;
        min-height:50px;
        max-height:100px;
    }
</style>

<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }

    $(document).ready(function () {
        $("#DmCreate").click(function () {
            var commitData = { encounterId: $("#encounterId").val(), description: $("#description").val()};

            $.ajax({
                url: "/Initiative/CommitTurn",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(commitData),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var url = '@Url.Action("Encounter", "Initiative", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', $("#encounterId").val());
                },
                error: function (xhr) {
                    alert("Oops, something got screwed up here");
                }
            });
        });
    });
</script>