@model TheDmScreen.Models.EncounterFeedModel

    @foreach (var feedEntry in Model.FeedEntries)
    {
        <div class="row">
            <div class="columns">
                <h4>@feedEntry.ActingCharacter.Name</h4>
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns">
                <img src="@feedEntry.ActingCharacter.Portrait" />
            </div>
            <div class="large-10 columns">
                @foreach (var action in @feedEntry.Actions)
                {
                    <p>@action</p>
                }
            </div>
        </div>
        <hr />
    }