@model TheDmScreen.Models.Encounter

<div class="row">
    <div class="panel">
        <h3>Pending Turns</h3>
        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
            @foreach (var initiative in Model.Initiatives.OrderBy(i => i.TurnOrder))
            {
                <div class="row">
                    <div class="small-centered column">@initiative.Character.Name</div>
                </div>
            }
        </div>
    </div>
</div>