@{
    ViewBag.Title = "AddCharacter";
}

<link rel="stylesheet" href="../../Scripts/Foundation/css/foundation.css">
<link rel="stylesheet" href="../../Scripts/Foundation/js/foundation.min.js">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<form class="panel">
    <div class="row">
        <div class="large-12 columns">
            <h3>Character Name</h3>
            <textarea placeholder="What is the character's name?"></textarea>
            <div id="DmCommit" class="button">Add Player</div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#DmCommit").click(function() {
            alert("bam");
        });
    });
</script>
