<link rel="stylesheet" href="../../Scripts/Foundation/css/foundation.css">
<link rel="stylesheet" href="../../Scripts/Foundation/js/foundation.min.js">

@{
    ViewBag.Title = "Encounter Feed <mockup>";
}

<body>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h1>Encounter Feed &lt;Mockup&gt;</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-3 columns">
            <div class="panel">
                <h3>Pending Turns</h3>
                <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                    
                    <div class="row">
                        <div class="small-centered column">Amper</div>
                    </div>
                    <div class="row">
                        <div class="small-centered column">Aramil</div>
                    </div>
                    <div class="row">
                        <div class="small-centered column">Beorn</div>
                    </div>
                    <div class="row">
                        <div class="small-centered column">Pecos</div>
                    </div>
                    <div class="row">
                        <div class="small-centered column">The Time Keeper</div>
                    </div>
                    <div class="row">
                        <div class="small-centered column">Klarg</div>
                    </div>
                    <div class="row">
                        <div class="small-centered column">Ripper</div>
                    </div>
                </div><br/>
                <div class="button">Commit Turn</div>
            </div>
        </div>

        <div class="large-6 columns">
            <div class="row">
                <div class="columns">
                    <h4>Klarg</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/klarg.jpg" />
                </div>
                <div class="large-10 columns">
                    <p>Hits <b>Beorn</b> with his morningstar dealing 12 bludgeoning damage, incapacitating him.<br/><br />Whistles, calling <b>Ripper</b> to his side.</p>
                </div>
            </div>
        <hr />
            <div class="row">
                <div class="columns">
                    <h4>The Time Keeper</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/timekeeper.jpg" />
                </div>
                <div class="large-10 columns">
                    <p>Casts <i>Time Ray</i> on <b>Klarg</b>, dealing 13 "time" damage</p>
                </div>
            </div>
        <hr />
            <div class="row">
                <div class="columns">
                    <h4>Pecos</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/pecosbill.jpg" />
                </div>
                <div class="large-10 columns">
                    <p>Launches an arrow at <b>Klarg</b> using his longbow, dealing 6 piercing damage.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="columns">
                    <h4>Beorn</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/beorn.gif" />
                </div>
                <div class="large-10 columns">
                    <p>Uses <i>Lay on Hands</i> on <b>Aramil</b>, restoring 1 HP and bringing Aramil out of <em>Dying</em>.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="columns">
                    <h4>Aramil</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/aramil.jpg" />
                </div>
                <div class="large-10 columns">
                    <p>Fails a Death Saving Throw with a roll of 4.<br /><br />1 failure, 0 successes</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="columns">
                    <h4>Amper</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/amper.jpg" />
                </div>
                <div class="large-10 columns">
                    <p>Performs a <i>Song of Valor</i> with his One-Man-Band.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="columns">
                    <h4>Klarg</h4>
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    <img src="../../Content/klarg.jpg" />
                </div>
                <div class="large-10 columns">
                    <p>Surprise Round!<br/><br/>Hits <b>Aramil</b> with his morningstar dealing 36 damage, incapacitating and knocking him through the air.</p>
                </div>
            </div>
            <hr />
    </div>

    <aside class="large-3 columns hide-for-small">
        <h3>Local Map</h3>
        <p><img src="../../Content/location.PNG" /></p>
        <p><i>You will be able to mouse over and view the battlemap at full resolution</i></p>
    </aside>
</div>

    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-5 columns">
                    <p>© Copyright Evan Kirsch 2015</p>
                </div>
                <div class="large-7 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Relevant Page here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>